COMPOSE_PROJECT_NAME=watchdog

POSTGRES_DB=watchdog
POSTGRES_USER=watchdog
POSTGRES_PASSWORD=watchdog
POSTGRES_PORT=5432

CORE_SERVICE_PORT=8080
WATCHER_SERVICE_PORT=8081
NLP_SERVICE_PORT=8082

CORE_SERVICE_DB_URL=jdbc:postgresql://postgres:5432/watchdog
CORE_SERVICE_DB_USERNAME=watchdog
CORE_SERVICE_DB_PASSWORD=watchdog

WATCHER_PUBLISH_MODE=log
NLP_API_PORT=8000
